SUPABASE_URL=https://dllwhzxfbghtbaxohxmw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsbHdoenhmYmdodGJheG9oeG13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwODcxMjYsImV4cCI6MjA5ODY2MzEyNn0.f4Ag1D930KHLXg8psC_f3y0KsRVCcQCsFqECPH9rMx0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsbHdoenhmYmdodGJheG9oeG13Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzA4NzEyNiwiZXhwIjoyMDk4NjYzMTI2fQ.K2bglsJXkzvUed6tgH9DjP3-V69BcB7EWe6MP--wswI
VITE_SUPABASE_URL=https://dllwhzxfbghtbaxohxmw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsbHdoenhmYmdodGJheG9oeG13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwODcxMjYsImV4cCI6MjA5ODY2MzEyNn0.f4Ag1D930KHLXg8psC_f3y0KsRVCcQCsFqECPH9rMx0
VITE_API_URL=http://localhost:3001
ADMIN_EMAILS=zhangsu1305@gmail.com
R2_ACCOUNT_ID=9ed1c5db5edcaa0dc5f9352af8d92ffd
R2_ACCESS_KEY_ID=f1cb430e78e502c6401e359574bf9b74
R2_SECRET_ACCESS_KEY=c87c0e73b114f21ba43a5ae956d2a7f35889af0c1027377b4b4c8211203524a9
R2_BUCKET=saima
R2_PUBLIC_BASE_URL=https://pub-51349ba358244889889234b209966c9a.r2.dev
